body,html{
    font-family: calibri;
}
.row,.container{
    margin: 0px;
    padding: 0px;
}

.logo img{
    height: 70px;
    width: auto;
    margin-top: 14px;
    margin-left: 5px;
    cursor: pointer;
} 
.welcome h3{
    font-size: 1.2em;
}

/****************************** LOADER  **********************************/

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../assets/images/prospect-research-reports-logo.jpg') center center no-repeat rgb(249,249,249);
    opacity: .8;
}
/********************************** NAVBAR OVERLAY *************************************************/

.overlay {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: inline-block;
    z-index: 999;
}
.overlay-content {
    position: relative;			
    width: 100%;
    text-align: justify;
    margin-bottom: 30px;
    transform: translateX(5%);
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: #038fdd;
    display: block;
    transition: 0.3s;
}
.overlay .hr-line{
    border-top: 0.2px solid #038fdd;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 10px;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay a.logo-text span{
    text-align: center;
    width: 100%;
}
.overlay a.logo-text p{
    text-align: center;
    width: 100%;
}

.overlay .closebtn {
    position: absolute;
    top: -32px;
    right: 5px;
    font-size: 60px;
}
.overlay > .overlay-content > a > i {font-size: 1.1em;margin-right: 5px;}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.dropdown-container{
    display: none;
    background-color: inherit;
    margin-left: 3%;
    padding: 10px;
}
.dropdown-container a{
    padding: 0px;
}
.dropdown-link{
    font-size:20px;
}
.dropdown-container{
    display: none;
    background-color: inherit;
    margin-left: 3%;
    padding: 15px;

}
/* .dropdown-link{
    font-size:18px;
} */
.fa-caret-right {
    margin-left:2%;
    padding-right: 8px;
}
/* Style the sidenav links and the dropdown button */
.overlay a.dropdown-btn,.overlay a.dropdown-link {
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    font-size: 1.2em;
    width: 100%;
    text-align: left;
    cursor: pointer;
}
.overlay a.active{
    color: #22e00c;
    font-weight: 700;
}

/* On mouse-over */
.dropdown-btn:hover {
    color: #f1f1f1;
}
.fa-caret-right {
    margin-left:2%;
    padding-right: 8px;
}
span.nav-btn {
    margin-left: 25px;
    cursor:pointer;
    transition: 0.2s color ease-in-out;
    float: right;
}
body,.main-block{
    background-color: #f7f7f7;
}
.overlay a.logo-text{
    font-weight: 900;
    text-shadow: 0.3px 0.3px #ccc;
}


@media screen and (min-width: 767px){
    .overlay {
        width: 20%;
    }
    .main-block{
        width: 80%;
        display: inline-block;
        margin-left: 19%;
    }
    .logout{
        margin-top: -20px;
    }
    .nav-btn{
        font-size: 35px;
    }
    .md-hidden,.overlay .closebtn,.panel-name .md-hidden{
        display: none;
    }
    .panel-name{
        margin-top: 0;
        /* width: 25%; */
        margin-bottom: 5%;
        z-index: 99999;
    }
    ul.pagination{
        margin-bottom: 60px;
    }
    .overlay a.logo-text{
        font-size: 2.2vw;
    }
    .overlay .closebtn {
        top: 0px;
        right: 30px;
    }
}
@media screen and (max-width: 767px){
    .overlay {
        width: 0%;
    }
    .overlay a.logo-text{
        font-size: 1.4em; 
        width: 80%;
    }
    .panel-name{
        margin-top: -53px;
        width: 50%;
    }
    .main-block{
        width: 100%;
        display: inline-block;
        margin-bottom: 50px;
    }
    .sm-hidden,.panel-name.sm-hidden{
        display: none;
    }
    .logout{
        margin-left: 15%;
        font-size: 2.5em;
        margin-top: 10%;
    }
    .logo img,.nav-btn,.logout{
        float: left;
    }
    .nav-btn{
        margin-top: 5%;
        font-size: 46px;
    }
    .dropdown-menu{
        text-align: center;
        left: -100px;
        min-width: 200px;
    }
    ul.dropdown-menu li{
        padding: 5px;
    }
    h1.stats{
        font-size: 2em;
        text-transform: capitalize;
    }
    p.copyright{
        line-height: 1.9;
    }
    .statistics-last{
        margin-bottom: 60px;
    }
    .footer{
        width: 100%;
    }
    ul.pagination{
        margin: 10px 10px;
    }
    .per-page-form{
        width: 50%;
        margin-left: 2%;
        margin-bottom: 10%;
    }
    form.navbar-form-left.form-nav-search{
        width: 96%;
        margin-left: 2%;
    }
    .overlay .closebtn {
        top: -17px;
        right: 17px;
    }
}


/**************************************************************************************/


.date h3{
    font-size: 1.2em;
    margin-top: 30px;
}
.welcome .text{
    font-weight: 700;
    font-size: 1.4em;
}
.welcome .name{
    color: #dc470d;
    font-size: 1.2em;
    text-transform: capitalize;
    text-decoration: underline;
}
.role{
    color: #479143;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;

}

/*********************************** STATISTICS *************************************/

h1.stats{
    text-align: center;
    color: #479143;
    font-weight: 700;
}
.statistics .col-md-4{
    border: 1px solid #e1e1e1;
    text-align: center;
    height: 200px;
}
.statistics .col-md-4 h3{
    padding: 10px;
    font-size: 2em;
    color: #1c3c51;
    margin-top: 15%;
    text-transform: uppercase;
}
.statistics .col-md-4 p{
    font-size: 1.8em;
    color: #dfb924;
    margin-top: 5px;
    font-weight: 700;
}
.statistics .col-md-4 p button{
    font-size: 0.8em;
    color: #fff;
    margin-top: 5px;
    text-transform: uppercase;
    border: 0px;
    background: #1c3c51;
}

/*********************************** PROFILE *************************************/

.profile-block .col-md-4 h3{
    padding: 10px;
    font-size: 1.2em;
    color: #1c3c51;
    margin-top: 1%;
}
h3.logout{
    cursor: pointer;
    width: 30px;
}
a.link-crm{
    float: left;
    text-decoration: none;
    font-weight: 700;
    background-color: #2880ac;
    color: #fff;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 8px;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
    border: 2px solid #2880ac;
}
a.link-crm:hover{
    background-color: transparent;
    color: #0465ac;
    border: 2px solid #0465ac;
}

.btn-confirm{
    background: #479143;
    border-radius: 0px;
}
.btn-cancel{
    background: #dc470d;
    border-radius: 0px;
}
.btn-confirm:hover{
    background: #479143;
}
.btn-cancel:hover{
    background: #dc470d;
}
.modal-title{
    color: #dc470d;
    font-weight: 700;
    text-transform: uppercase;
}
.modal-body{
    color: #000;
}

/*.modal-backdrop.in{
    opacity: 0;
}*/
/*.modal-backdrop{
    position: relative;
}*/
.footer{
    text-align: center;
    background: #ccc;
    bottom: 0;
    position: fixed;
    width: 100%;
}
p.copyright{
    color: rgb(34, 31, 31);
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    padding: 8px;
}
p.copyright > span > a{
    color: #fff;
}

/***********************************  MEDIA RULES     ******************************************/

@media screen and (min-width: 767px){
    .statistics .col-md-4{
        width: 30%;
        margin: 0px 5px;
        height: auto;
    }
    .statistics{
        margin-left: 2%;
    }
    .link-crm{
        margin-left: 2%;
    }
    .footer{
        margin-left: 1%;
        width: 90%;
    }
    .footer p{
        margin-top: 3px;
    }
    .form-horizontal .form-group{
        margin-left: 0px;
        margin-right: 0px;
    }
    h1.stats{
        text-transform: uppercase;
    }
    /*.role{
        margin-left: 40%;
    }*/
}