body,html{
    font-family: 'calibri';
}
body{
    /* background: url('../images/login-banner.jpg') 0% 0% no-repeat; */
    background: #f7f7f7;
}
.logo img{
    height: 95px;
    width: 190px;
    margin-top: 10px;
}   
button.btn-submit,button.btn-submit:hover,button.btn-submit:focus{
    border-radius: 0px;
    font-size:1.25em;
    background: #0465ac;
    /* box-shadow: 1px 1px 1px 1px #ccc; */
    padding: 7px;
    display: inline-block;
    margin-right: 8px;
}
.form-control{
    border-radius: 0px;
    border: 0px;
    height: 35px;
}
.form-horizontal .control-label{
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #000;
}
.login-header{
    text-transform: uppercase;
    font-size: 2em;
    background: #090d3b;
    padding: 7px;
    color: #000;
    text-align: center;
}

.login-header+p{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    color: #b1051d;
}
.has-error .help-block{
    color: #b1051d;
    font-weight: 700;
}
@media screen and (max-width : 767px){      
    button.btn-submit,button.btn-submit:hover,button.btn-submit:focus{
        min-width:135px;
    }
    .login-header + p{
        font-size: 1.05em;
    } 
}
@media screen and (min-width: 767px){ 
    button.btn-submit,button.btn-submit:hover,button.btn-submit:focus{
        min-width:150px;
    }
    form{
        margin-left: 15%;
    }
    .login-header{
        width: 200px;
        margin-left: 15%;

    }
    .login-header+p{
        margin-left: 15%;
    }
}
@media screen and (min-width: 992px){    
    .md-hidden{
        display: none;
    }
    .alert{
        margin-left: 10%;
        width: 75%;
    }
}