

/************************  CUSTOM RADIO  ***************************/

.contact-form{
    background-color: #eee;
}
/* The container */
.container-radio {
    display: block;
    position: relative;
    padding: 8px 0px 8px 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

/* Hide the browser's default radio button */
.container-radio input {
/*position: absolute;*/
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: rgb(0, 0, 0, 0.8);
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}
.img-paypal,.img-bank{
    height: 25px;
    top: -5px;
    position: relative;
}
.img-eazypay{
    height: 35px;
    top: -10px;
    left: -5px;
    position: relative;
}
.col-md-4 .panel-body{
    border: 1px solid rgb(0,0,0,0.2);
    box-shadow: 1px 0px 8px 6px rgb(0, 0, 0, 0.2);
    margin-bottom: 10px;
    background-color: #ddd;
    border-radius: 5px;
}
.btn-tab{
    border-radius: 3px;
    font-weight: bold;
    font-size: 1em;
    height:50px;
    text-align: center;
    background:  #eee;
    color: #000;
    transition: background-color 0.2s ease-in;
    float: left;
    padding: 15px;
    margin: 10px;
}
.btn-tab:hover{
    background: #002e5b;
    color: #FFFFFF;
}
.grand-total{
    background: #f35b02;
    color: rgb(0, 0, 0, 0.8);
}
.grand_amount{
    font-weight: 900;
    margin-left: -3px;
}
.fa.fa-usd{
    font-size: 17px;
}
.btn-submit.btn-shopping:hover, .btn-submit.btn-shopping:focus{
    float: left;
    background-color: #f35b02;
    color: #fff;
}
.btn-checkout,.btn-checkout:hover,.btn-checkout:focus{
    float: right;
    background: #f35b02;
    color: #000;
}
.right,.total-right{
    float: right;    
}
.col-md-9 > a.cart-report-title{
    line-height: 25px;
    font-size: 13px;
    font-weight: 600;
    color: #353444;
}
.report-img{
    height: 70px;
    width: auto;
    max-width: 100%;
}
.col-checkout-7{
    padding-left:0px;
    padding-right:0px;
}
.col-checkout-8 .feature-block{
    padding: 0.5rem;
    font-family: calibri;
}
.checkout-body{
    font-family: 'calibri';
}

.col-title{
    font-size: 1.2rem;
}
.grand-line{
    margin-bottom: 0px;
}
@media screen and (min-width:1200px) {
    .row .grand-total{
        font-size: 1.3em;
    }
}
@media screen and (min-width:992px) and (max-width:1200px) {
    .info-block h4.email+p{
        overflow-x: scroll;
    }
}
@media screen and (min-width:767px) and (max-width:1200px) {
    .row .grand-total{
        font-size: 1em;
    }
}
@media screen and (min-width:992px){
    .form-group >.col-md-3> strong{
        float: right;
    }
}
@media screen and (min-width: 767px) and (max-width:992px){
    .right,.total-right{
        margin-top: -5%;
    }                
}
@media screen and (max-width:767px){
    .checkout-body .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    .total-right{
        margin-top: -9%;
        font-size: 1.2em;
    }
    .report-title{
        font-size: 1.2em;
        line-height: 30px;
    }
    .report-img{
        height:150px;
        width:auto;
    }
    .grand-total{
        padding: 15px;
    } 
    .report-sample-title{
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        font-size: 1.2rem;
        line-height: 2;
        font-weight: 600;
    }
    .row,.container-fluid,.container{
        padding-left: 0;
        padding-right: 0;
    }
    .col-checkout-8 .feature-block{
        margin-top: 10px;
        margin-left: 1.5rem;
    }
    .feature-block-div{
        padding: 0.5rem 0.75rem;
    }
    .feature-block-div:nth-child(1), .feature-block-div:nth-child(2){
        display: inline-block;
    }
    .col-block-1, .col-block-2{
        display: inline-block;
    }
    .col-block-2{
        margin-top: -2.5rem;
    }
    .col-title{
        font-size: 1.2rem;
    }
    .contact-info{
        margin-top:2rem;
        margin-bottom:2rem;
    }
    .contact-info .form-title {
        line-height: 1.6;
        font-size: 1.3rem;
        font-weight: 900;
        padding: 0.5rem;
    }
    .btn-submit.btn-checkout{
        margin-top: 1.8rem;
    }
}
@media screen and (min-width:767px){
    h2.report-title{
        font-size: 1.6em;
        line-height: 40px;
    }
    .row .grand-total{
        width: 100%;
        padding: 10px;
    } 
    .cart-body .row{
        margin-left: 2px;
        margin-right: 2px;
    }
    .grand-total.row{
        margin-left: 0px;
        margin-right: 0px;
    }
    .report-img{
        max-height: 90px;
    }
    .col-checkout-8 .feature-block{
        float: right;
        margin-top: -4%;
    }
    .contact-info{
        margin-bottom:2rem;
    }
    .col-title{
        font-size: 1rem;
    }
}
h3.cart-title{
    text-align: center;
    font-size: 1.4em;
    line-height: 1.4;
    text-transform: uppercase;
    color: #000;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.1);
}
.price-quote{
    color: #f00;
    font-weight: 700;
    font-size: 1.15em;
}