/*html,body{
    font-family: Arya;
}*/
.row{
    margin: 0px;
}
/* .form-control{
    border-radius:0px;
} */
.contact-heading{
    text-align: center;
    color: #980707;
    font-weight: bold;
    font-size: 1.1em;
}
/* .star{
    color: red;
} */
/* label.control-label{
    font-size: 0.85em;
} */
/* button.btn-info{
    background:#002e5b;
    border:none;
    border-radius: 2px;
    color:#FFFFFF;
    font-size: 1.2em;
    min-height:45px;
    max-height: 65px;
    width:100%;
    margin-top: 20px;
} */

/* @media screen and (max-width:767px){
    .text-banner-left {
        display: none;
    }
    h2.report-title{
        font-size: 1.2em;
        text-align: center;
        line-height: 30px;
    }
}
@media screen and (min-width:767px){
    .text-banner-left {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(0%, -35%);
        font-size:1.55em;
        color: #fff;
    }
    h1.contact-us{
        display: none;
    }
    h2.report-title{
        font-size: 1.3em;
        line-height: 1.8;
    }
} */
.form-side-block{
    background: #ba7306;
    padding: 1%;
    color: #f2f2f2;
}

.rd-form label{
    font-weight:600;
    font-size: 1.05rem;
}
.rd-form .form-control{
    border: 1px solid rgb(0, 0, 0, 0.3);
}
.btn-submit{
  font-weight: 800;
  text-shadow: 0.25px 0.25px #007bff;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #007bff;
  line-height: 1.8;
  transition: all 0.3s ease-out;
  width: 200px;
}

.btn-submit:hover{
  color: #efefef;
  background-color: #007bff;
  border: 1px solid #efefef;
}
div.help-block.with-errors  > ul.list-unstyled > li{
    font-size: 14px;
}
/* .content-block-shadow{
    background-color: #efefef;
}
.content-block-shadow .panel-body .form-horizontal{
    padding: 10px;
}
.content-block-shadow .panel-body .form-horizontal .form-group{
    margin-bottom: 0px;
} */
/* .col-md-9  strong{
    color: #f00;
    padding: 5px;
    text-transform: uppercase;
} */
/* .col-md-9   .col-sm-4 > .col-sm-12,.col-md-9  .col-sm-8 > .col-sm-12{
    padding: 5px;
} */
.related-reports-block{
    border: 1px solid #ccc;
}
.nav-tabs.nav-justified > li >a{
    border-radius: 2px;
    margin: 2px 2px;
    background: rgb(0, 0, 0, 0.2);
    color: #000;
    margin-bottom: 10px;
    font-size: 15px;
    letter-spacing: 0.85px;
    font-weight: 700;
    text-transform: uppercase !important;
    font-family: "calibri";
    text-transform: capitalize;
    transition: all 0.2s ease-in;
} 
.nav-tabs.nav-justified li.active a, .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    background-color: #ff6347;
    border-color: #ff6347;
    color: #eee !important;
}
.nav-tabs.nav-justified li a:hover{
    background-color: #005994;
    border-color: #005994;
    color: #fff;
}

.tabs .tab-content > div{
    background-color: #eee;
    padding: 1rem;
    line-height: 1.75;
}
.tabs .tab-content{
    border: 1px solid rgb(0, 0, 0, 0.3);
    height: 100%;
    padding: 0.5rem;
    font-family: "calibri" !important;
    line-height: 1.2 !important;
    color: rgb(0, 0, 0, 0.75);
    font-size: 1.16rem;
}

/* .nav-tabs.nav-justified > li >a:hover,.nav-tabs.nav-justified > li.active >a, .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    background: rgb(187, 180, 180);
    border-bottom-right-radius: 2px;
    color: rgb(0, 0, 0, 0.9);
    border-radius: 2px;
} */
button.btn-buynow{
    border:1px solid #0079ff8c;
    background: #0079ff8c;
    margin-bottom: 10px;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    width: 250px;
}

button.btn-buynow:hover,button.btn-buynow:focus{
    border-color: #000;
    background: #0079ff8c;
    color: #f9f9f9;
    width:250px
}
/* button.btn-buynow:hover{
    background: rgb(0,0,0,0.2);
    color: #000;
} */
.panel-purchase{
    margin-bottom: 20px;
    border-color: #1e6f98;
}
.panel-purchase h3{
    text-align: center;
    font-size: 1.15em;
    line-height: 1.4;
    text-transform: uppercase;
    color: #000;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.1);
    border-width: 5px;
    margin-left: -15px;
    margin-right: -15px;
}
.question-block,.custom-research{
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}
/* .question-block h3,.custom-research p,.btn-email{
    padding: 10px;    
} */
.custom-research p{
    font-size: 16px;
}
/* .testimonial-block{
    margin:20px 0px;
    border:1px solid rgb(0, 0, 0, 0.1);
} 
/* Slideshow container */
/* .slideshow-container {
    position: relative;
    background: transparent;
}
.slideshow-container q{
    font-size: 0.9em;
    line-height: 1.8;
}

.mySlides {
    display: none;
    padding: 20px;
    text-align: center;
}

.prev, .next,.prev:hover,.next:hover {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #834f24;
    font-size: 14px;
    border-radius: 0 3px 3px 0;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
.testimonial-block > h5,.question-block h5,.custom-research h5{
    font-size: 1.5em;
    color: #000;
}
blockquote > span{
    display: none;
}
.author {
    color: #ce5a16;
    margin-top: 10px;
    font-size: 1em;
    font-weight: 600;
    text-transform: capitalize;
} */
.report-data{
    font-size: 1.2em;
    line-height: 20px;
}
.rep-block .col-md-2,.rep-block .col-md-9{
    padding: 15px;
}
.rep-block-container{
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
}
.rep-block-container:hover{
    background: #efefef;
}
.report-data > p > a{
    text-decoration: none;
    cursor: pointer;
    color:#000;    
    font-size: 1.1em;
}
.report-data ul li{
    display: inline-block;
    border-right: 1px solid gold;
    font-weight: 200;
    margin: 10px 0px;
}
.nav-tabs li a{    
    font-size: 1em;
}
li.price{
    color: #f00;
}
@media screen and (max-width:767px){
    .report-data ul li{
        padding:3px 9px;
    }
    button.btn-buynow,button.btn-buynow:hover,.btn-buynow:focus{
        padding: 10px;
    }
    li.price{
        float: none;
        font-size: 1.2em;
        font-weight: bold;
    }
    .btn-tab{
        margin: 8px 0px 0px 0px
    }
    .col-md-9   .col-sm-4  .col-sm-12,.col-md-9  .col-sm-8  .col-sm-12{
        width: auto;
        border-bottom: 1px dashed #6b680e;
        text-transform: capitalize;
        padding: 10px;
        font-size: 1em;        
    }
    .report-img{
        display: none;
    }
    #txtCaptcha{
        width: 45%;
    }
    .rd-details .feature-block .rd-item{
        left: 1.5rem;
        position: relative;
    }
}
@media screen and (min-width:767px){ 
    /* .report-sm-title{
        margin-left: 12%;
        margin-bottom: 4%;
    }    */
    /* .col-md-9  .col-sm-4 ,.col-md-9  .col-sm-8 { */
        /* text-transform: capitalize;        
    } */
    img.report-img{
        margin-top: 5%;
    }
    /* .col-md-9 > .col-sm-4:nth-child(2),.col-md-9 > .col-sm-8:nth-child(2){
        border-right: 0px;
    }
    .col-md-9  .col-sm-4:last-child,.col-md-9  .col-sm-8:last-child{
        margin-top: 7px;        
    } */
    .report-data ul li{
        padding:3px 12px;
    }
    li.price{
        float: right;
    }
    .btn-tab{
        margin: 10px 0px;
    }
    #txtCaptcha{
        width: 35%;
    }
    .sticky{
      position: sticky;
      top: 69px;
      z-index: 999;
    }
}
#discountEmailSuccess{
    color: green;
    font-size: 1em;
    padding: 5px;
}
#discountEmailError{
    color: #f00;
    font-size: 1em;    
    padding: 5px;
}
.btn-scroll{
    border-radius: 0px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    color: #fff;
    transition: background-color 0.2s ease-in;
    padding: 7px;    
    border:1px solid #7d4497;
    background: #7d4497;
    text-transform: uppercase;
}
.btn-dismiss{
    background: #d66b10;
}
.modal-title{    
    font-weight: bold;
    color: #1e6f98;
}
.btn-tab,.btn-tab:focus,.btn-tab:hover{
    border-radius: 0px;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
    line-height: 1.4;
    width: 100%;
    text-align: center;
    color: #000;
    transition: all 0.2s ease-in;
    background: rgb(0, 0, 0, 0.1);
    margin-bottom: 10px;
    font-family: "calibri";
    border-color: rgb(0, 0, 0, 0.1);
}
.btn-tab:hover{
    background-color: #005994;
    border-color: #005994;
    color: #efefef;
}
.btn-email,.btn-email:hover{
    max-width: 250px;
    font-size: 1.2rem;
}
.btn-sample{
    background-color: #ff7f50;
    border: 1px solid #ff7f50;
}
/* .btn-customize,.btn-customize:hover,.btn-customize:focus{
    border:1px solid #920942;
    background:  #920942;
} */
.btn-discount,.btn-email{
    border:1px solid #aab454;
    background: #aab454;
}
.btn-customization{
    background-color: #f5deb3;
    border: 1px solid #f5deb3;
}
.btn-enquire{
    background-color: #4eafaf;
    border: 1px solid #4eafaf;
}
.btn-purchase,.btn-purchase:hover,.btn-purchase:focus{
    border:1px solid  #0465ac;
    background:  #0465ac;
    color: #fff;
    padding: 10px;
    height: 40px;
    max-width: 250px;
}
hr.hr-line{
    border: 0px;
    border-bottom: 1px dashed rgb(0, 0, 0, 0.4);
}
.badge-new{
    background: darkblue;
    color: #fff;
    animation: rotateBadge 1s alternate ease infinite;
}
.f.fa-percent{    
    border: 1.5px solid #fff;
    border-radius: 50%;
    padding: 2px
}
@keyframes rotateBadge{
    from{
        transform: skew(0deg,0deg);
    }
    to{
        transform: skew(-40deg,40deg);
    }
}
/*input[type=radio]:checked {
    color: #fff;
    background: blue;
} */
.related-report-title{
    font-size:0.9em;    
    color:#000;
    text-decoration: none;
    line-height: normal;
    text-align: left;
}
.related-report-title:hover{
    color:darkblue;
}
.scroll-block{
    background: #efefef;
    margin: 10px 0px;
}
.scroll-block > marquee{
    padding: 5px;
    color: #1e6f98;
    font-weight: bold;
    font-size: 1.15em;
    text-transform: uppercase;
    cursor: pointer;
}


/******************************   SLIKER SLIDESHOW  *******************************************/

.sliker__item  img{
    height:150px;
    width : 120px;
}
.sliker__item p > a{
    color: #000;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}
.sliker__item  p > a:hover{
    color: #1e6f98;
    cursor: pointer;
    font-weight: bold;
}

.sliker {
    margin: auto;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: none;
    border:none;
    border-radius: 0px;
}
.sliker__window {    
    width: 100%;
}

@media screen and (max-width: 767px){        
    #slider_4 .sliker__item {
        width: 330px;
        margin-left: 11px;
    }
    .nav-justified .nav-item{
        flex-basis: content;
    }
}
@media screen and (min-width: 767px){       
    #slider_4 .sliker__item {
        width: 200px;
    }
    
}

.why-us-block{
    padding: 0 1rem;
}
.why-us-block h3{
    text-transform: capitalize;
    font-size: 1.2em;
    padding: 10px 0px;
    background: #c5c5c5;
    text-align: center;
}
.why-us-block ul li{
    padding: 5px;
    font-weight: normal;
    font-size: 15px;
    font-family: calibri;
    line-height: 30px;
    list-style-type: disc;
    position: relative;
    left: 17px;
    /* color: #090d2b; */
}
.related-reports ul{
    padding-left: 5px;
    max-height: 350px;
    word-break: break-all;
    overflow-y: scroll;
}
.related-reports ul li{
    list-style-type: square;
}
.related-reports ul li a{
    text-decoration: none;
    font-family: "calibri";
    color: rgb(0, 0, 0, 0.7);
    font-weight: 700;
    font-size: 15px;
}
.related-reports ul li a:hover,.related-reports ul li a:focus{
    color: #f35b02;
}
.custom-research .custom-text{
    font-family: calibri;
    color: rgb(0, 0, 0) !important;
    font-size: 1.2rem;
    font-weight: 500;
}


.panel-info > .list-group{
    box-shadow: 1px 1px 1px 1px #ccc;
}
li.list-group-item{
    list-style-type: none;
    border:0px;
    background: transparent;
    border-radius: 0px;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'calibri';
    text-transform: capitalize;
    padding: 1rem !important;
    height: 57px;
    color: #000;
}

/*li.list-group-item:hover{
    border:1px solid #efefef;
    border-radius: 2px;
    background: #337AB7;
    color: #fff;
    cursor: pointer;
}*/ 
li.list-group-item.active{
    border: 1px solid #0079ff8c;
    color: #000;
    cursor: pointer;
    font-weight: 700;
    background-color: #0079ff8c;
    border-radius: 4px;
}

/************************  CUSTOM RADIO  ***************************/



/* The container */
.container-radio {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0px;
}
.container-radio+span{
    float: right;
    position: relative;
}

/* Hide the browser's default radio button */
.container-radio input {
  /*position: absolute;*/
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
}
.rd-license-12{
    padding-left: 0px;
    padding-right: 0px;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: rgb(0, 0, 0, 0.7);
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.col-md-4 > span.display{
    margin-top: 1px;
}
span.display {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #f00;    
}
@media screen and (min-width: 767px){
    .col-display{
        border: 1px dashed #000;
        margin: 1px 0px 18px -15px;
    }
    .md-hidden{
        display: none;
    }
}
@media screen and (max-width: 767px){
    .col-display{
        margin-bottom: 20px;
        border: 1px dashed #000;
        width: 90%;
        margin-left: 18px;
        /*margin: 18px 0px 18px -15px;*/
    }
    li.list-group-item{
        font-size: 1.2em;
        /* margin-bottom: 10px; */
    }
    .sm-hidden{
        display: none;
    }
}
span.currency{
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: #f00;    
}
.animate_sample_btn{
    left: -7.5%;
    top: 45%;
    position: fixed;
    z-index: 999;
    background: #38b6ff;
    border-radius: 0px;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
    line-height: 1.4;
    width: 250px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "calibri";
    border-color: #38b6ff;
    transform: rotate(-90deg);
    animation: flashBtn 1s alternate ease-in-out infinite;
}

@keyframes flashBtn {
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}
.form-title{
    font-family: calibri !important;
    line-height: 1.6;
    font-size: 1.3rem;
    font-weight: 700;
}